TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_BOT_TOKEN=
TG_DESTINATION=@my_output_channel
TG_SOURCES=@channel1,@channel2
POLL_INTERVAL=2m
BATCH_SIZE=20
DATA_DIR=/app/data
TG_SESSION=
TG_AUTH_CODE=
TG_AUTH_PASSWORD=

MATCHER_BOT=go_do_matcher_bot
PLATFORM_URL=https://platform.alcan.by/
PROMO_EVERY=10
PLATFORM_EVERY=5
MATCHER_URL=
INGEST_SECRET=

OUTREACH_ENABLED=false
OUTREACH_PHONE=
OUTREACH_SESSION=
OUTREACH_MESSAGE=Здравствуйте!\n\nУвидели вашу вакансию в Telegram.\n\nЕсли вы регулярно ищете сотрудников, приглашаем попробовать podrabotki.by. Мы создали платформу, которая помогает быстрее находить линейный персонал и закрывать смены. В личном кабинете можно размещать вакансии, управлять ими, получать отклики кандидатов и оплачивать услуги онлайн.\n\nСейчас для новых работодателей размещение вакансий бесплатно.\n\n👉 <a href="https://podrabotki.by/?utm_source=telegram_dm&utm_medium=message&utm_campaign=employer_invite&utm_content=company_123">Попробовать платформу</a>\n\nБудем рады вашим отзывам и предложениям, сейчас мы активно развиваем сервис вместе с первыми работодателями.
OUTREACH_DATA_DIR=./data/outreach
OUTREACH_DAILY_LIMIT=5
OUTREACH_DELAY=10m
OUTREACH_AUTH_CODE=
OUTREACH_AUTH_PASSWORD=
