TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_BOT_TOKEN=
TG_DESTINATION=@my_output_channel
TG_SOURCES=@channel1,@channel2
POLL_INTERVAL=2m
BATCH_SIZE=20
DATA_DIR=/app/data
TG_SESSION=
TG_AUTH_CODE=
TG_AUTH_PASSWORD=

MATCHER_BOT=go_do_matcher_bot
PLATFORM_URL=https://platform.alcan.by/
PROMO_EVERY=10
PLATFORM_EVERY=5
